[class*=" saashq-icon-"],
[class^=saashq-icon-] {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 32px;
  width: 32px;
}

.saashq-icon-alarm {
  background-image: url('https://s3.amazonaws.com/saashq/icons/alarm.svg');
}

.saashq-icon-bar-chart {
  background-image: url('https://s3.amazonaws.com/saashq/icons/bar-chart.svg');
}

.saashq-icon-book {
  background-image: url('https://s3.amazonaws.com/saashq/icons/book.svg');
}

.saashq-icon-briefcase {
  background-image: url('https://s3.amazonaws.com/saashq/icons/briefcase.svg');
}

.saashq-icon-calculator {
  background-image: url('https://s3.amazonaws.com/saashq/icons/calculator.svg');
}

.saashq-icon-calendar {
  background-image: url('https://s3.amazonaws.com/saashq/icons/calendar.svg');
}

.saashq-icon-clipboard {
  background-image: url('https://s3.amazonaws.com/saashq/icons/clipboard.svg');
}

.saashq-icon-cloudcomputing {
  background-image: url('https://s3.amazonaws.com/saashq/icons/cloudcomputing.svg');
}

.saashq-icon-compass {
  background-image: url('https://s3.amazonaws.com/saashq/icons/compass.svg');
}

.saashq-icon-computer {
  background-image: url('https://s3.amazonaws.com/saashq/icons/computer.svg');
}

.saashq-icon-dashboard {
  background-image: url('https://s3.amazonaws.com/saashq/icons/dashboard.svg');
}

.saashq-icon-diagram {
  background-image: url('https://s3.amazonaws.com/saashq/icons/diagram.svg');
}

.saashq-icon-diamond {
  background-image: url('https://s3.amazonaws.com/saashq/icons/diamond.svg');
}

.saashq-icon-bar-earthgrid {
  background-image: url('https://s3.amazonaws.com/saashq/icons/bar-earthgrid.svg');
}

.saashq-icon-flag {
  background-image: url('https://s3.amazonaws.com/saashq/icons/flag.svg');
}

.saashq-icon-folder {
  background-image: url('https://s3.amazonaws.com/saashq/icons/folder.svg');
}

.saashq-icon-head-1 {
  background-image: url('https://s3.amazonaws.com/saashq/icons/head-1.svg');
}

.saashq-icon-home {
  background-image: url('https://s3.amazonaws.com/saashq/icons/home.svg');
}

.saashq-icon-idea {
  background-image: url('https://s3.amazonaws.com/saashq/icons/idea.svg');
}

.saashq-icon-laptop {
  background-image: url('https://s3.amazonaws.com/saashq/icons/laptop.svg');
}

.saashq-icon-like {
  background-image: url('https://s3.amazonaws.com/saashq/icons/like.svg');
}

.saashq-icon-medal {
  background-image: url('https://s3.amazonaws.com/saashq/icons/medal.svg');
}

.saashq-icon-megaphone {
  background-image: url('https://s3.amazonaws.com/saashq/icons/megaphone.svg');
}

.saashq-icon-paste {
  background-image: url('https://s3.amazonaws.com/saashq/icons/paste.svg');
}

.saashq-icon-piechart {
  background-image: url('https://s3.amazonaws.com/saashq/icons/piechart.svg');
}

.saashq-icon-piggybank {
  background-image: url('https://s3.amazonaws.com/saashq/icons/piggybank.svg');
}

.saashq-icon-puzzle {
  background-image: url('https://s3.amazonaws.com/saashq/icons/puzzle.svg');
}

.saashq-icon-scale {
  background-image: url('https://s3.amazonaws.com/saashq/icons/scale.svg');
}

.saashq-icon-settings {
  background-image: url('https://s3.amazonaws.com/saashq/icons/settings.svg');
}

.saashq-icon-star {
  background-image: url('https://s3.amazonaws.com/saashq/icons/star.svg');
}

.saashq-icon-tools {
  background-image: url('https://s3.amazonaws.com/saashq/icons/tools.svg');
}

.saashq-icon-umbrella {
  background-image: url('https://s3.amazonaws.com/saashq/icons/umbrella.svg');
}

.saashq-icon-paintpalette {
  background-image: url('https://s3.amazonaws.com/saashq/icons/paintpalette.svg');
}

.saashq-icon-users {
  background-image: url('https://s3.amazonaws.com/saashq/icons/users.svg');
}

.saashq-icon-stamp {
  background-image: url('https://s3.amazonaws.com/saashq/icons/stamp.svg');
}

.saashq-icon-phone-call {
  background-image: url('https://s3.amazonaws.com/saashq/icons/phone-call.svg');
}

.saashq-icon-magicwand {
  background-image: url('https://s3.amazonaws.com/saashq/icons/magicwand.svg');
}

.saashq-icon-folder {
  background-image: url('https://s3.amazonaws.com/saashq/icons/folder.svg');
}

.saashq-icon-folder-1 {
  background-image: url('https://s3.amazonaws.com/saashq/icons/folder.svg');
}

// new
.saashq-icon-sunset {
  background-image: url('https://s3.amazonaws.com/saashq/icons/sunset.svg');
}

.saashq-icon-heart-alt {
  background-image: url('https://s3.amazonaws.com/saashq/icons/heart.svg');
}

.saashq-icon-music-1 {
  background-image: url('https://saashq.s3.amazonaws.com/icons/music.svg');
}

.saashq-icon-pencil {
  background-image: url('https://s3.amazonaws.com/saashq/icons/pencil.svg');
}

.saashq-icon-database {
  background-image: url('https://s3.amazonaws.com/saashq/icons/database.svg');
}

.saashq-icon-clipboard-1 {
  background-image: url('https://s3.amazonaws.com/saashq/icons/note.svg');
}

.saashq-icon-camera {
  background-image: url('https://s3.amazonaws.com/saashq/icons/camera.svg');
}

.saashq-icon-shuffle-1 {
  background-image: url('https://s3.amazonaws.com/saashq/icons/shuffle.svg');
}

.saashq-icon-hourglass {
  background-image: url('https://s3.amazonaws.com/saashq/icons/hourglass.svg');
}

.saashq-icon-envelope-alt {
  background-image: url('https://s3.amazonaws.com/saashq/icons/envelope-alt.svg');
}

.saashq-icon-graph-bar {
  background-image: url('https://s3.amazonaws.com/saashq/icons/graph-bar.svg');
}

.saashq-icon-comment-alt-message{
  background-image: url('https://s3.amazonaws.com/saashq/icons/comment.svg');
}

.saashq-icon-chat {
  background-image: url('https://s3.amazonaws.com/saashq/icons/chat.svg');
}

.saashq-icon-smile {
  background-image: url('https://s3.amazonaws.com/saashq/icons/smile.svg');
}

.saashq-icon-wallclock {
  background-image: url('https://s3.amazonaws.com/saashq/icons/wallclock.svg');
}

.saashq-icon-trees {
  background-image: url('https://s3.amazonaws.com/saashq/icons/trees.svg');
}

.saashq-icon-gift {
  background-image: url('https://s3.amazonaws.com/saashq/icons/gift.svg');
}

.saashq-icon-moon-1 {
  background-image: url('https://s3.amazonaws.com/saashq/icons/moon-1.svg');
}






